    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/core.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sewsocrafty.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!--Libraries-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>SewSoCrafty</title>
    {% endif %}
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='images/illustrations/icons/needle.svg') }}" />
