{% extends "layout.html" %}

{% block title %}
    {% if title %}
    <title>SewSoCrafty - {{ title }}</title>
    {% endif %}
{% endblock title %}

{% block content %}
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-6 is-offset-1 landing-caption">
              <span>
                A beautiful <a href="https://bulma.io/">Bulma CSS</a> App
              </span>
              <h1 class="title is-1 is-bold is-spaced">
                SewSoCrafty.com
              </h1>
              <p class="subtitle is-muted">
                Reach out for <a href=#contact>Custom Work</a> from us.
              </p>
              <p>
                <a href=#contact class="button cta rounded primary-btn raised">
                  Custom Request
                </a>
              </p>
            </div>
            <div class="column is-4 is-offset-1">
              <figure class="image is-4by4">
                <img  class="lazy"
                      src="{{ url_for('static', filename='images/illustrations/icons/machine.svg') }}"
                      data-src="{{ url_for('static', filename='images/illustrations/icons/machine.svg') }}"
                      alt="Tape Measure Drawing">
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot mb-20">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 1."
                                   src="{{ url_for('static', filename='images/illustrations/icons/scissors.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/scissors.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 2."
                                   src="{{ url_for('static', filename='images/illustrations/icons/button.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/button.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 3."
                                   src="{{ url_for('static', filename='images/illustrations/icons/mask.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/mask.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 4."
                                   src="{{ url_for('static', filename='images/illustrations/icons/thread.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/thread.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 5."
                                   src="{{ url_for('static', filename='images/illustrations/icons/machine.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/needle.svg') }}"></a></li>
            </ul>
          </div>
        </div>
      </div>
{% endblock content %}
{% block landing %}
  {% include 'includes/products.html' %}
  {% include 'includes/reviews.html' %}
  {% include 'includes/contact.html' %}
{% endblock landing %}
