{% extends "layout.html" %}

{% block title %}
    {% if title %}
    <title>SewSoCrafty - {{ title }}</title>
    {% endif %}
{% endblock title %}

{% block navbar %}
            <div class="navbar-end">
              <a href="{{ url_for('main.about') }}" class="navbar-item is-secondary">
                About SewSoCrafty
              </a>
              <a href="#products" class="navbar-item is-secondary">
                Product Samples
              </a>
              <a href="#reviews" class="navbar-item is-secondary">
                Reviews
              </a>
              <a href="#contact" class="navbar-item is-secondary">
                Contact Us
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{{ url_for('products.all_products') }}">
                  Products
                </a>

                <div class="navbar-dropdown">
                  <a href="{{ url_for('products.product_name', prod='masks') }}" class="navbar-item">
                    Masks
                  </a>
                  <a href="{{ url_for('products.product_name', prod='mementos') }}" class="navbar-item">
                    Wedding Mementos
                  </a>
                  <a href="{{ url_for('products.product_name', prod='dolldress') }}" class="navbar-item">
                    Doll Dresses
                  </a>
                </div>
              </div>
            </div>
{% endblock navbar %}

{% block navbar_float %}
            <div class="navbar-end">
              <a href="{{ url_for('main.about') }}" class="navbar-item is-secondary">
                About SewSoCrafty
              </a>
              <a href="#products" class="navbar-item is-secondary">
                Product Samples
              </a>
              <a href="#reviews" class="navbar-item is-secondary">
                Reviews
              </a>
              <a href="#contact" class="navbar-item is-secondary">
                Contact Us
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{{ url_for('products.all_products') }}">
                  Products
                </a>

                <div class="navbar-dropdown">
                  <a href="{{ url_for('products.product_name', prod='masks') }}" class="navbar-item">
                    Masks
                  </a>
                  <a href="{{ url_for('products.product_name', prod='mementos') }}" class="navbar-item">
                    Wedding Mementos
                  </a>
                  <a href="{{ url_for('products.product_name', prod='dolldress') }}" class="navbar-item">
                    Doll Dresses
                  </a>
                </div>
              </div>
            </div>
{% endblock navbar_float %}

{% block content %}
<!-- main body of information -->
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-6 is-offset-1 landing-caption">

              <span>
                A beautiful <a href="https://bulma.io/">Bulma CSS</a> App
              </span>
              <h1 class="title is-1 is-bold is-spaced">
                SewSoCrafty.com
              </h1>
              <p class="subtitle is-muted">
                Reach out for <a target="_blank" href=#>Custom Work</a> from us.
              </p>
              <p>
                <a target="_blank" href=#contact class="button cta rounded primary-btn raised">
                  Custom Request
                </a>
              </p>
            </div>
            <div class="column is-4 is-offset-1">
              <figure class="image is-4by4">
                <img  class="lazy"
                      src="{{ url_for('static', filename='images/illustrations/icons/tape_measure.svg') }}"
                      data-src="{{ url_for('static', filename='images/illustrations/icons/tape_measure.svg') }}"
                      alt="Tape Measure Drawing">
              </figure>
            </div>

          </div>
        </div>
      </div>
      <div class="hero-foot mb-20">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 1."
                                   src="{{ url_for('static', filename='images/illustrations/icons/scissors.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/scissors.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 2."
                                   src="{{ url_for('static', filename='images/illustrations/icons/button.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/button.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 3."
                                   src="{{ url_for('static', filename='images/illustrations/icons/mask.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/mask.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 4."
                                   src="{{ url_for('static', filename='images/illustrations/icons/thread.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/thread.svg') }}"></a></li>
              <li><a href="#"><img alt="Bulma CSS Web App, BulmaPlay - Partner 5."
                                   src="{{ url_for('static', filename='images/illustrations/icons/machine.svg') }}"
                                   class="partner-logo lazy" data-src="{{ url_for('static', filename='images/illustrations/icons/machine.svg') }}"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- finishes out the section tag in main.html -->

  <!-- " Product Display" section -->
    <section id="products" class="section section-feature-grey is-medium">
      <div class="container">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">Product Display</h2>
          <h3 class="subtitle is-5 is-muted">Some of our recent products.</h3>
          <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
          <div class="columns">
            <div class="column is-one-third">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Masks</h4>
                </div>
                <div class="card-icon">
                  <img alt="Mask icon" class="lazy filter-secondary" width="150" height="75"
                       data-src="{{ url_for('static', filename='images/illustrations/icons/mask.svg') }}" >
                </div>
                <div class="card-text">
                  <p>We can make custom masks, because we're awesome.</p>
                </div>
                <div class="card-action">
                  <a target="_blank" href="" class="button btn-align-md secondary-btn raised">See Masks</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-2" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Wedding Mementos</h4>
                </div>
                <div class="card-icon">
                  <img alt="Dress icon" class="lazy"
                       data-src="{{ url_for('static', filename='images/illustrations/icons/dress.svg') }}">
                </div>
                <div class="card-text">
                  <p>Turn that raggedy old wedding dress into a purse!</p>
                </div>
                <div class="card-action">
                  <a target="_blank" href="" class="button btn-align-md accent-btn raised">Read More</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-3" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Doll Dresses</h4>
                </div>
                <div class="card-icon">
                  <img alt="Doll Dress" class="lazy filter-primary"
                       data-src="{{ url_for('static', filename='images/illustrations/icons/dolldress.svg') }}">
                </div>
                <div class="card-text">
                  <p>These are clothes for your dolls, don't try to wear them.</p>
                </div>
                <div class="card-action">
                  <a target="_blank" href="https://blog.appseed.us" class="button btn-align-md primary-btn raised">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- "What our customers say about us" section -->
    <section id="reviews" class="section is-medium section-primary">
      <div class="container">

        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2 light-text is-spaced">What Our Customers Have to Say</h2>
          <h3 class="subtitle is-5 light-text">Actual feedback from recent customers.</h3>
        </div>

        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <div class="column is-4">
              <figure class="testimonial">
                <blockquote>
                  Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has.
                </blockquote>
                <div class="author">
                  <img class="lazy" data-src="{{ url_for('static', filename='images/illustrations/faces/1.png') }}" alt=""/>
                  <h5>Irma Walters</h5><span>Accountant</span>
                </div>
              </figure>
            </div>
            <div class="column is-4">
              <figure class="testimonial">
                <blockquote>
                  Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                </blockquote>
                <div class="author">
                  <img class="lazy" data-src="{{ url_for('static', filename='images/illustrations/faces/2.png') }}" alt=""/>
                  <h5>John Bradley</h5><span>Financial Analyst</span>
                </div>
              </figure>
            </div>
            <div class="column is-4">
              <figure class="testimonial">
                <blockquote>
                  Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                </blockquote>
                <div class="author">
                  <img class="lazy" data-src="{{ url_for('static', filename='images/illustrations/faces/3.png') }}" alt=""/>
                  <h5>Gary Blackman</h5><span>HR Manager</span>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- "Have a Request?" section -->
    <section id="contact" class="section section-light-grey is-medium">
      <div class="container">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2 is-spaced">Have A Request?</h2>
          <h3 class="subtitle is-5 is-muted">We'd love to give you a quote on a custom piece, or just hear from you!</h3>
          <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
          <div class="columns">
            <div class="column is-6 is-offset-3">
              <form>
                <div class="columns is-multiline">
                  <div class="column is-6">
                    <input class="input is-medium is-secondary-focus" type="text" placeholder="Enter your Name">
                  </div>
                  <div class="column is-6">
                    <input class="input is-medium is-secondary-focus" type="email" placeholder="Enter your Email">
                  </div>
                  <div class="column is-12">
                    <textarea class="textarea is-secondary-focus" rows="10" placeholder="Write someting ..."></textarea>
                  </div>
                  <div class="form-footer has-text-centered mt-10">
                    <button type="button" class="button cta is-large primary-btn raised is-clear">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
