{% extends "layout.html" %}

{% block title %}<title>Products</title>{% endblock %}

{% block content %}
 <!-- " Product Display" section -->
    <section id="products" class="section section-feature-grey is-medium">
      <div class="container">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">Product Display</h2>
          <h3 class="subtitle is-5 is-muted">Some of our recent products.</h3>
          <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
          <div class="columns">
            <div class="column is-one-third">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Masks</h4>
                </div>
                <div class="card-icon">
                  <img alt="Mask icon" class="lazy filter-secondary" width="150" height="75"
                       data-src="{{ url_for('static', filename='images/illustrations/icons/mask.svg') }}" >
                </div>
                <div class="card-text">
                  <p>We can make custom masks, because we're awesome.</p>
                </div>
                <div class="card-action">
                  <a target="_blank" href="" class="button btn-align-md secondary-btn raised">See Masks</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-2" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Wedding Mementos</h4>
                </div>
                <div class="card-icon">
                  <img alt="Dress icon" class="lazy"
                       data-src="{{ url_for('static', filename='images/illustrations/icons/dress.svg') }}">
                </div>
                <div class="card-text">
                  <p>Turn that raggedy old wedding dress into a purse!</p>
                </div>
                <div class="card-action">
                  <a target="_blank" href="" class="button btn-align-md accent-btn raised">Read More</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-3" data-animation="fadeInLeft">
                <div class="card-title">
                  <h4>Doll Dresses</h4>
                </div>
                <div class="card-icon">
                  <img alt="Doll Dress" class="lazy filter-primary"
                       data-src="{{ url_for('static', filename='images/illustrations/icons/dolldress.svg') }}">
                </div>
                <div class="card-text">
                  <p>These are clothes for your dolls, don't try to wear them.</p>
                </div>
                <div class="card-action">
                  <a target="_blank" href="https://blog.appseed.us" class="button btn-align-md primary-btn raised">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock content %}
